
conda.enabled = true
conda.cacheDir = "${projectDir}/conda"

executor {
    name = 'local'
    cpus = 36
    memory = '256 GB'
}


params {
    input_bam             = 'inputs/*.bam'
    bakta_db              = "/home/dnanexus/databases/bakta_db/db"
    platon_db             = "/home/dnanexus/databases/pdb/db"
    kraken2_db_path       = "/home/dnanexus/databases/krakem_db"
    outdir                = "${projectDir}/results"
    genome_size           = '4.2m'
    coverage              = 100 
    target_taxid          = '1423'
    traits_file           = "${projectDir}/metadata.csv"
    tree_color_column     = 'sequence_type'
    panther_organism      = 'BACILLUS_SUBTILIS' 
    panther_annot_dataset = 'GO:0008150'
    rbioapi_organism_id   = 1423 
    rbioapi_annot_dataset = 'GO:0008150'
}

process {
    // --- Default Resources ---
    cpus   = 4
    memory = '8 GB'
    time   = '122h'

    // --- Resource Labels ---
    withLabel: 'process_low'    { cpus = 2;  memory = '4 GB';   time = '48h'  }
    withLabel: 'process_medium' { cpus = 8;  memory = '32 GB';  time = '48h'  }
    withLabel: 'process_high'   { cpus = 12; memory = '120 GB'; time = '122h' }
}

// --- Reporting ---
report.overwrite   = true
timeline.overwrite = true
trace.overwrite    = true
dag.overwrite      = true

// --- Tool-specific configs ---
multiqc {
    files_ignore = ['work', '.nextflow', 'nextflow.config']
}
